@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }
    body {
        @apply text-base bg-success dark:bg-gray-900 text-gray-800 dark:text-gray-300 font-normal font-roboto leading-normal;
    }

    h1 {
        @apply text-5xl xs:text-6xl font-semibold;
    }
    h2 {
        @apply text-4xl xs:text-5xl font-medium;
    }
    h3 {
        @apply text-xl;
    }
}

@layer utilities {
    .section-gap {
        @apply mb-16 md:mb-[150px];
    }

    .modal-open {
        @apply overflow-hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}

.border-dashed-full {
    border: 2px dashed #26235b;
}

input[type='radio'] + label span {
    transition:
        background 0.2s,
        transform 0.2s;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
    transform: scale(1.2);
}

input[type='radio']:checked + label span {
    background-color: #26235b;
    box-shadow: 0px 0px 0px 2px white inset;
}

input[type='radio']:checked + label {
    color: #26235b;
}

.fill-gray-500 {
    fill: blue !importent;
}